* {
  transition: opacity .3s;
}

body {
  margin: 0;
  background-color: #ffc774;
  transition: all .5s;
}

h1 {
  display: none;
  margin: 80px auto;
  padding: 50px;
  font-family: 'Bree Serif', serif;
  color: #8DCCC0;
}


.happy {
  padding-top: 100px;
  width: 35vw;
  margin: 0 auto;
  display: block;
}

.sad {
  padding-top: 100px;
  width: 35vw;
  margin: 0 auto;
  display: none;
}